body {
    background-color: rgba(0, 0, 0, 0.753);
}

h1 {
    color: whitesmoke;
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: underline 3px;
}
/* /busqueda */
.input-group {
    margin-top: 12px;
    margin-bottom: 12px;
}
/* //boton de formulario */
#btnSubirPj {
    margin-top: 12px;
}
/* //formulario */
.novalidate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.col-2:hover {
    transform: translateY(-5px)
}